#contact {
  min-height: calc(100vh - 7rem);
  width: 100vw;
  max-width: 60rem;
  margin: 4rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#clients{
  display: flex;
  flex-direction: column;
}
.contactPageTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.clientDesc {
  font-weight: 400;
  font-size: 1rem;
  max-width: 45rem;
  color: rgb(200, 200, 200);
}
/* .clientImgs {
  display: flex;
  margin: 1.5rem 0;
}
.clientimg {
  object-fit: cover;
  width: 33%;
  min-width: 9rem;
  height: 150px;
  margin: 1rem 1rem;
  border: 2px solid rgb(255, 255, 255);
}
 */
/* Common styles */
.clientImgs {
  width: 100%;
  margin: 0 auto; 
}

.clientimg {
  width: 100%;
  height: 180px; 
  max-width: 200px; 
  margin: 1rem;
}

/* Desktop styles */
@media only screen and (max-width: 768px) {
  .clientImgs {
    width: 100%;
  }
  .clientimg{
    max-width: 250px;
    height:150px;
  }
  /* .clientDesc{
    margin: 2rem;
  } */
}


/* contact form style */

.contactDesc{
  padding: 1rem;
  font-size: medium;
  font-weight: 300;

}
.contact-form{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}
.name, .email, .message{
  width: 100%;
  font-size: medium;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background:rgb(40,40,40);
}
.submitbtn{
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
}
